/* @media print {
  .print-only {
    display: block !important;
  }
  body *:not(.print-only) {
    display: none !important;
  }
} */

  @media print {
    @page {
      size: 80mm auto;
      margin: 0;
    }

    body {
      width: 80mm;
      margin: 0;
      padding: 0;
      font-family: monospace;
      font-size: 12px;
      text-align: center;
    }

    .coupon {
      margin: 10px 0;
      padding: 10px 0;
      border-top: 1px dashed #000;
      border-bottom: 1px dashed #000;
    }

    h2 {
      font-size: 16px;
      margin: 0 0 5px 0;
    }

    p {
      margin: 2px 0;
    }
  }
